html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	text-align: center;
	line-height: 1.5;
	font-size: 16px;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 32px;
}

.clearfix::before,
.clearfix::after{
	content: "";
	display: table;
}
.clearfix::after{
	clear: both;
}

.header{
	background-color: #6495ED;
	height: 300;
	line-height: 72px;
}
.theory{
	float: left;
	padding: 32px 16px;
	margin: 0 72px;
	color: white;
}
.nav{
	float: right;
	padding: 12px 26px;
}
.nav a{
	color: #00CED1;
}


.container a,.nav a{
	text-decoration: none;
	line-height: 1.5;
	margin-left: 32px;
}

.font{
	text-align: center;
	padding: 72px;
	font-size: 42px;
	color: white;
}
.font p{
	font-size: 16px;
	margin: 12px 0;
	color: #00CED1;
}
.col{
	display: inline-block;
}
.article{
	background-color: #fff;
}
.container1{
	max-width: 1200px;
	height: 300px;
	margin: 0 auto;
	padding: 16px;

}
.article-heading{
	font-size: 24px;
	margin-bottom: 8px;
	color: #6495ED;
	font-family: sans-serif;
	text-align: left;
}
.col{
	float: left;
	width: 30.33%;
	margin: 1.5%;
	font-size: 12px;
}
.btn{
	background-color: #6495ED;
	color: white;
	font-size: 18px;
}
.btn a{
	text-decoration: none;
	padding: 2px;
}
.section{
	background-color: #6495ED;
	max-width: 1200px;
	height: 450px;
	margin: 0 auto;
	padding: 16px;
	color: white;
	font-size: 18px;
}
.h2{
	font-size: 40px;
}
.col1{
	display: inline-block;
	height: 200px;
	width: 150px;
	margin: 5%;
	background-color: #6495ED;
	vertical-align: middle;
	border: 1px solid white;
}
.section-img{
	border-radius: 50%;
	padding: 4px;
}
.line{
	color: #00CED1; 
}

.contain{
	max-width: 1200px;
	height: 300px;
	margin: 0 auto;
	padding: 16px;
}
.col2{
	float: left;
	width: 42.33%;
	margin: 2%;
	padding: 16px;
	font-size: 12px;
}

.footer{
	padding: 40px 0;
}
.footer nav{
	float: right;
}
.footer a{
	color: #5385c1;
	text-decoration: none;
	margin: 24px;
}

